RewriteEngine On

# عندما يدخل المستخدم على ir4yn.online/hrb يقوم الخادم بتحميل hrb/index.html
RewriteRule ^hrb/?$ hrb/index.html [L]

# عندما يدخل المستخدم على ir4yn.online/r4 يقوم الخادم بتحميل r4/index.html
RewriteRule ^r4/?$ r4/index.html [L]

# عندما يدخل المستخدم على ir4yn.online/rh يقوم الخادم بتحميل rh/index.html
RewriteRule ^rh/?$ rh/index.html [L]